In [3]:
# for syntax: for item in sequence:
for i in range(10):
    print(i,'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [4]:
for i in range (0, 10, 2):
    print(i, 'Hello')

0 Hello
2 Hello
4 Hello
6 Hello
8 Hello

In [5]:
for i in range(10, 0, -1):
    print(i, 'Hello')

10 Hello
9 Hello
8 Hello
7 Hello
6 Hello
5 Hello
4 Hello
3 Hello
2 Hello
1 Hello

In [7]:
#Sum form 1 to n
n = int(input('Enter n:'))
s = 0
for i in range(1, n + 1):
    s += i
print('sum form 1 to',n,'is',s)

sum form 1 to 1 is 1

In [13]:
# Ex1: calculate n!

n = int(input('Enter n:'))
result = 1
for i in range(1, n + 1):
    result *= i
print(f'{n}! = {result}')

5! = 120

In [15]:
#Ex2: Calculate sum of even numbers from 1 to n

s = 0
for i in range(2, n+1, 2):
    s += i 
print(f'Sum of even numbers from 1 to {n} is {s}')

Sum of even numbers from 1 to 5 is 6

In [16]:
#Ex3: Calculate product of odd numbers from 1 to n

s = 1
for i in range(2,n + 1, 2):
    s += i
print(f'Product of odd numbers from 1 to {n} is {s}')

Product of odd numbers from 1 to 5 is 7

In [ ]:
#Ex4: Print multiplication table of n

n = int(input('Enter n:'))
for i in range(1,11):
    print(f'{n:2} x {i:2} = {n*i:2}')

In [ ]:
#n Nested for loop
# Print triangle of asterisks

n = int(input('Enter n:'))
for i in range(n+1):
    for k in range(i):
        print('*', end=' ')
    print()

In [ ]:
#Ex5.1: Print triangle of numbers

n = int(input('Enter n:'))
for i in range(1, n+1):
    for k in range(i):
        print(i, end=' ')
    print()

In [15]:
#Ex5.2: print triangle of numbers

for i in range(1, n+1):
    for k in range(i):
        print(k+1, end =' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
shopping_list = ['Apples', 'Bread', 'Milk', 'Eggs']
clean_shopping_list = [item.replace("'", "") for item in shopping_list]
print("Your Shopping List:", clean_shopping_list)

Your Shopping List: ['Apples', 'Bread', 'Milk', 'Eggs']